@use '../utilities/colors' as colors;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Raleway", sans-serif;
	background-color: colors.$dark;
	color: colors.$white;
}



.wrapper {
	margin: 0 auto;
	min-width: 1200px;
	width: 100%;
}
