@use "../utilities/index" as utiles;

.hamburger {
	position: fixed;
	top: 3em;
	left: 1em;
	transform: translateY(-50%);
	z-index: 500;

	&-inner,
	&-inner::before,
	&-inner::after {
		background-color: utiles.$white;
	}
}
